{
  "openapi": "3.1.0",
  "info": {
    "title": "Nevermined API",
    "description": "API for managing AI agents, payment plans, and subscriptions in the Nevermined ecosystem",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent": {
      "post": {
        "summary": "Register Agent and Plan",
        "description": "Registers a new AI agent along with a payment plan.",
        "operationId": "registerAgentAndPlan",
        "tags": ["Agents"],
        "requestBody": {
          "description": "Agent and plan to register",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "agentMetadata": {
                    "$ref": "#/components/schemas/AgentMetadata"
                  },
                  "agentApi": {
                    "type": "object",
                    "required": ["endpoints", "agentDefinitionUrl"],
                    "properties": {
                      "endpoints": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "agentDefinitionUrl": {
                        "type": "string",
                        "description": "URL to the agent definition. Can be an OpenAPI spec, MCP Manifest, or A2A agent card. This field is mandatory."
                      },
                      "openEndpoints": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of endpoints that don't require authentication"
                      }
                    }
                  },
                  "price": {
                    "type": "object"
                  },
                  "credits": {
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent and plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewAgentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/agent/{agentId}": {
      "get": {
        "summary": "Get Agent",
        "description": "Retrieves information about a registered AI agent, including metadata and associated payment plans.",
        "operationId": "getAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The unique identifier of the agent to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent information response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          }
        }
      },
      "delete": {
        "summary": "Delete Agent",
        "description": "Deletes a registered AI agent and all associated payment plans.",
        "operationId": "deleteAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The unique identifier of the agent to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent successfully deleted"
          },
          "403": {
            "description": "Caller is not authorized to delete this agent"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/agent/{agentId}/query": {
      "post": {
        "summary": "Query Agent",
        "description": "Queries a registered AI agent via the Nevermined Proxy or directly, using a valid payment plan and signature-based access token.",
        "operationId": "queryAgent",
        "tags": ["Agents"],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The unique identifier of the agent to query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Query payload",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompt": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Query successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required"
          }
        }
      }
    },
    "/plan/{planId}": {
      "get": {
        "summary": "Get Plan",
        "description": "Retrieves details about a specific payment plan by its ID.",
        "operationId": "getPlan",
        "tags": ["Plans"],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The unique identifier of the plan to retrieve",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          }
        }
      }
    },
    "/plan/{planId}/order": {
      "post": {
        "summary": "Order Plan",
        "description": "Allows a subscriber (human or agent) to purchase a payment plan using crypto or fiat.",
        "operationId": "orderPlan",
        "tags": ["Plans"],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The unique identifier of the plan to order",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txHash": {
                      "type": "string"
                    },
                    "balance": {
                      "$ref": "#/components/schemas/Balance"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/plan/{planId}/balance": {
      "get": {
        "summary": "Get Plan Balance",
        "description": "Checks the current usage balance for a given plan.",
        "operationId": "getPlanBalance",
        "tags": ["Plans"],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The unique identifier of the plan.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          }
        }
      }
    },
    "/plan/{planId}/redeem": {
      "post": {
        "summary": "Redeem Credits",
        "description": "Redeems a specific number of credits from a subscriber's balance.",
        "operationId": "redeemCredits",
        "tags": ["Plans"],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The unique identifier of the plan.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redemption successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "creditsRedeemed": {
                      "type": "integer"
                    },
                    "remainingBalance": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "AgentMetadata": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "dateCreated": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NewAgentResponse": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string"
          },
          "metadata": {
            "$ref": "#/components/schemas/AgentMetadata"
          },
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plan"
            }
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "price": {
            "type": "object",
            "properties": {
              "priceType": {
                "type": "string"
              },
              "tokenAddress": {
                "type": "string"
              },
              "amounts": {
                "type": "array",
                "items": {
                  "type": "integer"
                }
              },
              "receivers": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "credits": {
            "type": "object",
            "properties": {
              "creditsType": {
                "type": "string"
              },
              "amount": {
                "type": "integer"
              },
              "durationOfThePlan": {
                "type": "integer"
              }
            }
          },
          "nftAddress": {
            "type": "string"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "isSubscriber": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          },
          "used": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
