{
  "openapi": "3.1.0",
  "info": {
    "title": "Nevermined API",
    "description": "API for managing AI agents, payment plans, and x402 payments in the Nevermined ecosystem.\n\n## Prerequisites\n\nYou need a Nevermined API Key to authenticate. Get one at [nevermined.app](https://nevermined.app) under **Settings > API Keys**.\n\nSee the [5-Minute Setup Guide](/docs/integrate/quickstart/5-minute-setup) for detailed instructions.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sandbox.nevermined.app/api/v1",
      "description": "Sandbox (Testing) - Base Sepolia"
    },
    {
      "url": "https://api.live.nevermined.app/api/v1",
      "description": "Live (Production) - Base Mainnet"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Protocol - Agents",
      "description": "Endpoints for registering and managing AI agents"
    },
    {
      "name": "Protocol - Plans",
      "description": "Endpoints for creating and managing payment plans"
    },
    {
      "name": "Protocol - Credits",
      "description": "Endpoints for minting and redeeming credits"
    },
    {
      "name": "Protocol - Access",
      "description": "Endpoints for access tokens and request validation"
    },
    {
      "name": "X402 - Permissions",
      "description": "Endpoints for x402 delegated permissions"
    }
  ],
  "paths": {
    "/protocol/agents": {
      "post": {
        "summary": "Register Agent",
        "description": "Creates a new AI agent with API configuration.",
        "operationId": "registerAgent",
        "tags": [
          "Protocol - Agents"
        ],
        "requestBody": {
          "description": "Agent configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAgentRequest"
              },
              "example": {
                "name": "Legal Assistant",
                "description": "AI-powered legal document analysis",
                "tags": [
                  "legal",
                  "ai"
                ],
                "endpoints": [
                  {
                    "POST": "https://your-api.com/query"
                  }
                ],
                "agentDefinitionUrl": "https://your-api.com/openapi.json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        }
      },
      "get": {
        "summary": "List Agents",
        "description": "Get paginated list of agents for the current user.",
        "operationId": "listAgents",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Results per page",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "Sort direction",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAgents"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/protocol/agents/{agentId}": {
      "get": {
        "summary": "Get Agent",
        "description": "Retrieves agent configuration and associated plans.",
        "operationId": "getAgent",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier (DID)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          }
        }
      },
      "put": {
        "summary": "Update Agent",
        "description": "Modifies agent configuration and metadata.",
        "operationId": "updateAgent",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Updated agent metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/protocol/agents/plans": {
      "post": {
        "summary": "Register Agent and Plan",
        "description": "Creates both an agent and associated payment plan in a single request.",
        "operationId": "registerAgentAndPlan",
        "tags": [
          "Protocol - Agents"
        ],
        "requestBody": {
          "description": "Agent and plan configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterAgentAndPlanRequest"
              },
              "example": {
                "agentMetadata": {
                  "name": "Legal Assistant",
                  "description": "AI-powered legal analysis",
                  "tags": [
                    "legal",
                    "ai"
                  ]
                },
                "agentApi": {
                  "endpoints": [
                    {
                      "POST": "https://your-api.com/query"
                    }
                  ],
                  "agentDefinitionUrl": "https://your-api.com/openapi.json"
                },
                "planMetadata": {
                  "name": "Starter Plan",
                  "description": "100 requests for $10"
                },
                "priceConfig": {
                  "priceType": "FIXED_PRICE",
                  "tokenAddress": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
                  "amounts": [
                    10000000
                  ],
                  "receivers": [
                    "0xYourWalletAddress"
                  ]
                },
                "creditsConfig": {
                  "creditsType": "FIXED",
                  "amount": 100,
                  "minAmount": 1
                },
                "accessLimit": "credits"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent and plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentAndPlanCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/protocol/agents/{agentId}/list/{activate}": {
      "put": {
        "summary": "Activate/Deactivate Agent",
        "description": "Controls the agent's public listing status.",
        "operationId": "toggleAgentListing",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activate",
            "in": "path",
            "description": "true to list, false to unlist",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/protocol/agents/{agentId}/plan/{planId}": {
      "post": {
        "summary": "Add Plan to Agent",
        "description": "Associates an existing payment plan with an agent.",
        "operationId": "addPlanToAgent",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan added to agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent or plan not found"
          }
        }
      },
      "delete": {
        "summary": "Remove Plan from Agent",
        "description": "Disassociates a payment plan from an agent.",
        "operationId": "removePlanFromAgent",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan removed from agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Agent or plan not found"
          }
        }
      }
    },
    "/protocol/agents/{agentId}/plans": {
      "get": {
        "summary": "Get Agent Plans",
        "description": "Lists all payment plans associated with an agent.",
        "operationId": "getAgentPlans",
        "tags": [
          "Protocol - Agents"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPlans"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/protocol/agents/initialize/{agentId}": {
      "post": {
        "summary": "Initialize Agent Request",
        "description": "Validates access and initializes an agent request session.",
        "operationId": "initializeAgentRequest",
        "tags": [
          "Protocol - Access"
        ],
        "parameters": [
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request initialization data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitializeAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request initialized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitializeAgentResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment required - insufficient credits"
          }
        }
      }
    },
    "/protocol/agent-sub-tasks": {
      "post": {
        "summary": "Track Agent Sub Task",
        "description": "Records task completion and credit consumption for complex agent workflows.",
        "operationId": "trackAgentSubTask",
        "tags": [
          "Protocol - Access"
        ],
        "requestBody": {
          "description": "Sub-task tracking data",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrackSubTaskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Task tracked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/protocol/plans": {
      "post": {
        "summary": "Register Plan",
        "description": "Creates a new payment plan with pricing and credit configuration.",
        "operationId": "registerPlan",
        "tags": [
          "Protocol - Plans"
        ],
        "requestBody": {
          "description": "Plan configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterPlanRequest"
              },
              "example": {
                "name": "Pro Plan",
                "description": "500 requests per month",
                "priceConfig": {
                  "priceType": "FIXED_PRICE",
                  "tokenAddress": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
                  "amounts": [
                    50000000
                  ],
                  "receivers": [
                    "0xYourWalletAddress"
                  ]
                },
                "creditsConfig": {
                  "creditsType": "FIXED",
                  "amount": 500,
                  "minAmount": 1
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlanCreatedResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      },
      "get": {
        "summary": "List Plans",
        "description": "Get paginated list of payment plans for the current user.",
        "operationId": "listPlans",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "createdAt"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPlans"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/protocol/plans/{planId}": {
      "get": {
        "summary": "Get Plan",
        "description": "Retrieves details about a specific payment plan.",
        "operationId": "getPlan",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plan details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plan"
                }
              }
            }
          },
          "404": {
            "description": "Plan not found"
          }
        }
      },
      "put": {
        "summary": "Update Plan",
        "description": "Modifies plan metadata.",
        "operationId": "updatePlan",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "description": "Updated plan metadata",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePlanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plan updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/protocol/plans/{planId}/list/{activate}": {
      "put": {
        "summary": "Activate/Deactivate Plan",
        "description": "Controls the plan's public listing status.",
        "operationId": "togglePlanListing",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "activate",
            "in": "path",
            "description": "true to list, false to unlist",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Status updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/protocol/plans/{planId}/order": {
      "post": {
        "summary": "Order Plan",
        "description": "Purchases a payment plan. Credits are issued immediately.",
        "operationId": "orderPlan",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderPlanResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Payment failed"
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/protocol/plans/{planId}/balance/{holderAddress}": {
      "get": {
        "summary": "Get Plan Balance",
        "description": "Retrieves credit balance for a specific account on a plan.",
        "operationId": "getPlanBalance",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "holderAddress",
            "in": "path",
            "description": "Wallet address to check balance for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Balance information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Balance"
                }
              }
            }
          },
          "404": {
            "description": "Plan or holder not found"
          }
        }
      }
    },
    "/protocol/plans/{planId}/agents": {
      "get": {
        "summary": "Get Plan Agents",
        "description": "Lists all agents associated with a payment plan.",
        "operationId": "getPlanAgents",
        "tags": [
          "Protocol - Plans"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedAgents"
                }
              }
            }
          },
          "404": {
            "description": "Plan not found"
          }
        }
      }
    },
    "/protocol/token/{planId}/{agentId}": {
      "get": {
        "summary": "Get Access Token",
        "description": "Generates access credentials for agent-plan interaction.",
        "operationId": "getAccessToken",
        "tags": [
          "Protocol - Access"
        ],
        "parameters": [
          {
            "name": "planId",
            "in": "path",
            "description": "The plan's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "agentId",
            "in": "path",
            "description": "The agent's unique identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Access token generated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "No active subscription"
          },
          "404": {
            "description": "Plan or agent not found"
          }
        }
      }
    },
    "/protocol/plans/mint": {
      "post": {
        "summary": "Mint Credits",
        "description": "Adds credits to a plan account. Builder-only operation.",
        "operationId": "mintCredits",
        "tags": [
          "Protocol - Credits"
        ],
        "requestBody": {
          "description": "Mint request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MintCreditsRequest"
              },
              "example": {
                "planId": "did:nv:abc123...",
                "holderAddress": "0xUserAddress",
                "amount": 100
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits minted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintCreditsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - not plan owner"
          }
        }
      }
    },
    "/protocol/plans/mintExpirable": {
      "post": {
        "summary": "Mint Expirable Credits",
        "description": "Adds time-limited credits to a plan account.",
        "operationId": "mintExpirableCredits",
        "tags": [
          "Protocol - Credits"
        ],
        "requestBody": {
          "description": "Mint expirable request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MintExpirableCreditsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits minted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintCreditsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden - not plan owner"
          }
        }
      }
    },
    "/protocol/plans/redeem": {
      "post": {
        "summary": "Redeem Credits",
        "description": "Consumes credits from a plan account after processing a request.",
        "operationId": "redeemCredits",
        "tags": [
          "Protocol - Credits"
        ],
        "requestBody": {
          "description": "Redeem request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RedeemCreditsRequest"
              },
              "example": {
                "planId": "did:nv:abc123...",
                "holderAddress": "0xUserAddress",
                "amount": 5,
                "proof": "0xSignatureProof..."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Credits redeemed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RedeemCreditsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient credits"
          }
        }
      }
    },
    "/x402/permissions": {
      "post": {
        "summary": "Create Permission",
        "description": "Creates a delegated permission and generates an x402 access token.",
        "operationId": "createPermission",
        "tags": [
          "X402 - Permissions"
        ],
        "requestBody": {
          "description": "Permission configuration",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePermissionRequest"
              },
              "example": {
                "planId": "did:nv:def456...",
                "maxCredits": 100,
                "expiresAt": "2025-02-10T00:00:00Z"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Permission created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionCreatedResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "Insufficient balance"
          }
        }
      },
      "get": {
        "summary": "List Permissions",
        "description": "Retrieves paginated list of your delegated permissions.",
        "operationId": "listPermissions",
        "tags": [
          "X402 - Permissions"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedPermissions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/x402/permissions/{permissionHash}": {
      "get": {
        "summary": "Get Permission",
        "description": "Retrieves complete information about a specific permission.",
        "operationId": "getPermission",
        "tags": [
          "X402 - Permissions"
        ],
        "parameters": [
          {
            "name": "permissionHash",
            "in": "path",
            "description": "Unique permission identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permission details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Permission"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Permission not found"
          }
        }
      },
      "delete": {
        "summary": "Revoke Permission",
        "description": "Invalidates a delegated permission, preventing further use.",
        "operationId": "revokePermission",
        "tags": [
          "X402 - Permissions"
        ],
        "parameters": [
          {
            "name": "permissionHash",
            "in": "path",
            "description": "Unique permission identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Permission revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokePermissionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Permission not found"
          }
        }
      }
    },
    "/x402/verify": {
      "post": {
        "summary": "Verify Permission",
        "description": "Validates a delegated permission before processing a request.",
        "operationId": "verifyPermission",
        "tags": [
          "X402 - Permissions"
        ],
        "requestBody": {
          "description": "Verification request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyPermissionRequest"
              },
              "example": {
                "accessToken": "x402_eyJhbGciOiJIUzI1NiIs...",
                "agentId": "did:nv:abc123...",
                "creditsRequested": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyPermissionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/x402/settle": {
      "post": {
        "summary": "Settle Permission",
        "description": "Finalizes and records delegated permission usage after service delivery.",
        "operationId": "settlePermission",
        "tags": [
          "X402 - Permissions"
        ],
        "requestBody": {
          "description": "Settlement request",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettlePermissionRequest"
              },
              "example": {
                "accessToken": "x402_eyJhbGciOiJIUzI1NiIs...",
                "agentId": "did:nv:abc123...",
                "creditsUsed": 5
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settlement complete",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettlePermissionResponse"
                }
              }
            }
          },
          "402": {
            "description": "Settlement failed - insufficient credits"
          }
        }
      }
    },
    "/delegation/create": {
      "post": {
        "description": "Creates a spending delegation for the authenticated user against a previously enrolled payment method. For fiat-backed delegations (stripe/braintree/visa) the response includes a signed JWT (`delegationToken`); for crypto (erc4337) flows the token is held client-side and omitted. Requires a Nevermined API key.",
        "operationId": "DelegationController_createDelegation",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDelegationDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created delegation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDelegationResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "summary": "Create a spending delegation and return a signed JWT token",
        "tags": [
          "Delegation"
        ]
      }
    },
    "/delegation": {
      "get": {
        "description": "Returns a paginated list of the authenticated user's spending delegations. Use `accessible=true` to return only delegations the requesting API key may spend against. Requires a Nevermined API key.",
        "operationId": "DelegationController_listDelegations",
        "parameters": [
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number (1-based). Defaults to 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Number of items per page. Defaults to 10.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "accessible",
            "required": false,
            "in": "query",
            "description": "When \"true\", return only delegations accessible to the requesting API key (filters by apiKeyId, Active status, expiry, and remaining budget)",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegationListDto"
                }
              }
            }
          }
        },
        "summary": "List all delegations for the authenticated user",
        "tags": [
          "Delegation"
        ]
      }
    },
    "/delegation/{delegationId}": {
      "get": {
        "description": "Returns the full details of a single delegation owned by the authenticated user, including remaining budget and last-used timestamp. Requires a Nevermined API key.",
        "operationId": "DelegationController_getDelegation",
        "parameters": [
          {
            "name": "delegationId",
            "required": true,
            "in": "path",
            "description": "UUID v4 of the delegation to fetch.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegationDetailsDto"
                }
              }
            }
          },
          "404": {
            "description": "Delegation not found"
          }
        },
        "summary": "Get delegation details including remaining budget",
        "tags": [
          "Delegation"
        ]
      },
      "delete": {
        "description": "Revokes a delegation owned by the authenticated user and cascade-revokes its linked permissions. For Visa delegations the linked VGS intent is cancelled best-effort. Requires a Nevermined API key.",
        "operationId": "DelegationController_revokeDelegation",
        "parameters": [
          {
            "name": "delegationId",
            "required": true,
            "in": "path",
            "description": "UUID v4 of the delegation to revoke.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The revoke result (`{ success: true }`)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/_NvmAPIResultDto"
                }
              }
            }
          },
          "404": {
            "description": "Delegation not found"
          }
        },
        "summary": "Revoke a delegation",
        "tags": [
          "Delegation"
        ]
      }
    },
    "/delegation/{delegationId}/transactions": {
      "get": {
        "description": "Returns a paginated list of charge transactions recorded against a delegation owned by the authenticated user. Requires a Nevermined API key.",
        "operationId": "DelegationController_getTransactions",
        "parameters": [
          {
            "name": "delegationId",
            "required": true,
            "in": "path",
            "description": "UUID v4 of the delegation whose transactions are listed.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number (1-based). Defaults to 1.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "offset",
            "required": false,
            "in": "query",
            "description": "Number of items per page. Defaults to 10.",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegationTransactionListDto"
                }
              }
            }
          },
          "404": {
            "description": "Delegation not found"
          }
        },
        "summary": "List transactions for a delegation",
        "tags": [
          "Delegation"
        ]
      }
    },
    "/payment-methods": {
      "get": {
        "description": "Returns the saved payment methods for the authenticated user. Requires a Nevermined API key.",
        "operationId": "PaymentMethodsController_listPaymentMethods",
        "parameters": [
          {
            "name": "accessible",
            "required": false,
            "in": "query",
            "description": "When \"true\", return only payment methods accessible to the requesting API key (filters by allowedApiKeyIds and Active status).",
            "schema": {
              "enum": [
                "true",
                "false"
              ],
              "type": "string"
            }
          },
          {
            "name": "provider",
            "required": false,
            "in": "query",
            "description": "When set, return only payment methods backed by this provider. Omit to return methods from every provider (default).",
            "schema": {
              "enum": [
                "stripe",
                "braintree",
                "erc4337",
                "visa",
                "vgs"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of saved payment methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethodSummaryDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Unknown provider value"
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          }
        },
        "summary": "List saved payment methods",
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/payment-methods/{paymentMethodId}": {
      "patch": {
        "description": "Updates a saved payment method, changing its friendly alias and/or the set of NVM API keys allowed to use it. Requires a Nevermined API key.",
        "operationId": "PaymentMethodsController_updatePaymentMethod",
        "parameters": [
          {
            "name": "paymentMethodId",
            "required": true,
            "in": "path",
            "description": "Identifier of the payment method to update",
            "schema": {
              "example": "pm_1Abc2Def3Ghi4Jkl",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentMethodDto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated payment method",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentMethodSummaryDto"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Not Found - Payment method does not exist"
          }
        },
        "summary": "Update a payment method",
        "tags": [
          "Payment Methods"
        ]
      },
      "delete": {
        "description": "Revokes (detaches) a saved payment method so it can no longer be used for delegated payments. Requires a Nevermined API key.",
        "operationId": "PaymentMethodsController_revokePaymentMethod",
        "parameters": [
          {
            "name": "paymentMethodId",
            "required": true,
            "in": "path",
            "description": "Identifier of the payment method to revoke",
            "schema": {
              "example": "pm_1Abc2Def3Ghi4Jkl",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Payment method revoked",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "success": true
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key"
          },
          "404": {
            "description": "Not Found - Payment method does not exist"
          }
        },
        "summary": "Revoke a payment method",
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/router/payments": {
      "post": {
        "description": "Pay any x402-compatible agent WITHOUT that agent integrating Nevermined. Returns a signed\ncredential you attach to your own request to the agent.\n\nPrerequisite: a spending **Delegation**. Create one once via `POST /api/v1/delegation/create`\nwith `provider: 'erc4337'`, a `spendingLimitCents`, and a `durationSecs`; pass its `id` as\n`delegationId` here. The Router signs with your custodial wallet and enforces the cap.\n\nSteps:\n1. Call the agent once WITHOUT payment → it replies HTTP 402 with requirements. x402 v1 puts\n   them in the JSON body `{ x402Version: 1, accepts: [...] }`; x402 v2 puts them in a base64\n   `PAYMENT-REQUIRED` response header (decode to an object). Pass what you got as `target`.\n2. POST here. The Router selects a fundable option, signs an x402 `exact` (EIP-3009) payment,\n   reserves the amount against your Delegation, and returns `credential` + `settlement`.\n3. Re-send your original request to the agent with the HTTP header named `credential.name`\n   (`PAYMENT-SIGNATURE` for v2, `X-PAYMENT` for v1) set to `credential.value`. The agent\n   verifies, settles on-chain, and returns the resource.\n\nOptionally call `POST /api/v1/router/payments/{paymentId}/settled` with the on-chain tx to\ncomplete the audit record. Pass a stable `requestId` for idempotency (one credential per id).\nPrefer `POST /api/v1/router/route` to have the Router call the agent and pay in one step (mode B).\n\nMPP: set `protocol: \"mpp\"` and pass the raw `WWW-Authenticate: Payment …` header value as\n`target.challenge` to pay a Merchant-Payment-Protocol (tempo `charge`) merchant. The Router\nreturns an `Authorization: Payment <…>` credential (attach it under header `credential.name`).",
        "operationId": "mintX402PaymentCredential",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentDto"
              },
              "examples": {
                "x402-v1": {
                  "summary": "Pay a v1 (x402-express) agent",
                  "value": {
                    "delegationId": "5e7481c3-e972-45bd-bdc5-a0b99c4de4a1",
                    "protocol": "x402",
                    "resourceUrl": "https://agent.example/paid",
                    "requestId": "order-1234",
                    "target": {
                      "x402Version": 1,
                      "accepts": [
                        {
                          "scheme": "exact",
                          "network": "base-sepolia",
                          "maxAmountRequired": "1000",
                          "asset": "0x036CbD53842c5426634e7929541eC2318f3dCF7e",
                          "payTo": "0x209693Bc6afc0C5328bA36FaF03C514EF312287C",
                          "maxTimeoutSeconds": 60,
                          "extra": {
                            "name": "USDC",
                            "version": "2"
                          }
                        }
                      ]
                    }
                  }
                },
                "mpp-tempo": {
                  "summary": "Pay an MPP (tempo charge) merchant",
                  "value": {
                    "delegationId": "5e7481c3-e972-45bd-bdc5-a0b99c4de4a1",
                    "protocol": "mpp",
                    "resourceUrl": "https://merchant.example/paid",
                    "requestId": "order-5678",
                    "target": {
                      "challenge": "Payment id=\"ch_abc\", realm=\"merchant.example\", method=\"tempo\", intent=\"charge\", request=\"<base64url>\""
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A signed credential + settlement descriptor + record id. Attach `credential.value` under header `credential.name` to your request to the agent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintPaymentResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, no fundable option in `target`, or a malformed 402 (BCK.ROUTER.0001).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Nevermined API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "Delegation budget exceeded, expired, or inactive (BCK.ROUTER.0003).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Credential barred from the Router spend rails — an OAuth-minted key (device/auth-code ceremony) may not spend here; use a plain account key (BCK.OAUTH.0030). Permanent, do not retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "The `requestId` was already used — idempotency conflict (BCK.ROUTER.0002).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Mint an x402 payment credential for an upstream agent (mode A)",
        "tags": [
          "Router"
        ]
      },
      "get": {
        "description": "Returns your Router payments (newest first, capped at 1000) across every agent and delegation —\nthe unified audit trail. Filter by `delegationId` and by `from`/`to` (ISO-8601, inclusive on\n`createdAt`). `format=csv` returns a CSV file download instead of the JSON array.",
        "operationId": "listRouterPayments",
        "parameters": [
          {
            "name": "delegationId",
            "required": false,
            "in": "query",
            "description": "Only payments spent against this delegation id.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "required": false,
            "in": "query",
            "description": "ISO-8601 lower bound on createdAt (inclusive).",
            "schema": {
              "example": "2026-07-01T00:00:00Z",
              "type": "string"
            }
          },
          {
            "name": "to",
            "required": false,
            "in": "query",
            "description": "ISO-8601 upper bound on createdAt (inclusive).",
            "schema": {
              "example": "2026-07-31T23:59:59Z",
              "type": "string"
            }
          },
          {
            "name": "format",
            "required": false,
            "in": "query",
            "description": "Response format. Defaults to JSON; `csv` returns a downloadable file.",
            "schema": {
              "enum": [
                "json",
                "csv"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The payment record — a JSON array (or a CSV file when `format=csv`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RouterPaymentRecordDto"
                  }
                }
              }
            }
          },
          "400": {
            "description": "`from`/`to` are not valid ISO-8601 timestamps (BCK.ROUTER.0001).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Nevermined API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "List / export the buyer’s unified payment record across all agents",
        "tags": [
          "Router"
        ]
      }
    },
    "/router/route": {
      "post": {
        "description": "Hand the Router the request you want made to an upstream x402 agent; it probes, pays any 402\nwith your Delegation (same engine as `POST /payments`), and relays the agent’s response in ONE\ncall — you never see the 402 or handle the credential yourself.\n\nPrerequisite: a Delegation `id` (`POST /api/v1/delegation/create`, provider `erc4337`).\n\nProvide the target `url` (+ optional `method`, `headers`, `body`). A free (non-402) upstream is\nrelayed unchanged with `paid=false` and no `payment`. `requestId` is REQUIRED (the Router pays automatically, so a retry must be idempotency-keyed); a duplicate returns 409 with the original paymentId.\n\nFor LARGE or STREAMED responses, a transparent streaming variant exists at `ALL /api/v1/router/proxy`:\npoint your HTTP client at it with headers `X-Router-Target-Url` and `X-Router-Delegation-Id`\n(optional `X-Router-Upstream-Authorization` for the agent’s own auth). Method/body/headers pass\nthrough and the response streams back, with payment metadata in `X-Router-Payment-Id`,\n`X-Router-Payment-Status`, and `X-Router-Tx-Hash` response headers. Use this JSON endpoint when\nyou want a single structured result instead.",
        "operationId": "routeAndPayRequest",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProxyRequestDto"
              },
              "examples": {
                "get-paid-resource": {
                  "summary": "GET a paid resource through the Router",
                  "value": {
                    "delegationId": "5e7481c3-e972-45bd-bdc5-a0b99c4de4a1",
                    "url": "https://agent.example/paid",
                    "method": "GET",
                    "requestId": "order-1234"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The relayed upstream response (`status` + `body`) plus the `payment` that was made.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouteResultDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request, no fundable option, or an upstream/402 error (BCK.ROUTER.0001).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Nevermined API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "402": {
            "description": "Delegation budget exceeded, expired, or inactive (BCK.ROUTER.0003).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "403": {
            "description": "Credential barred from the Router spend rails — an OAuth-minted key (device/auth-code ceremony) may not spend here; use a plain account key (BCK.OAUTH.0030). Permanent, do not retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "The `requestId` was already used — idempotency conflict (BCK.ROUTER.0002).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Route a request through the Router, paying the agent’s 402 and relaying the reply (mode B)",
        "tags": [
          "Router"
        ]
      }
    },
    "/router/payments/{id}/settled": {
      "post": {
        "description": "After you attached a mode-A credential and the agent settled on-chain, report the settlement\n`txHash` (from the agent’s `PAYMENT-RESPONSE` / `X-PAYMENT-RESPONSE` header) so the payment\nrecord moves `Issued → Settled`. Idempotent: re-reporting the same txHash is a no-op; a\ndifferent txHash, or a record not in `Issued`, is rejected. NOT needed for mode B\n(`/route` and `/proxy` self-complete the record from the upstream settlement header).",
        "operationId": "reportPaymentSettlement",
        "parameters": [
          {
            "name": "id",
            "required": true,
            "in": "path",
            "description": "The `paymentId` returned by POST /payments.",
            "schema": {
              "example": "b1f9c2e4-...",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettlePaymentDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The record is now `Settled`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SettleResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Nevermined API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "404": {
            "description": "No payment record with that id for this caller (BCK.ROUTER.0004).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "409": {
            "description": "Record not settleable — already settled with a different tx, or not in `Issued` (BCK.ROUTER.0005).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Report the on-chain settlement tx for a minted payment (completes the record)",
        "tags": [
          "Router"
        ]
      }
    },
    "/router/payments/summary": {
      "get": {
        "description": "Returns the buyer’s total number of Router payment requests (uncapped — unlike the 1000-row\nlist endpoint) plus a per-bucket time-series for a dashboard chart. Filter by `from`/`to`\n(ISO-8601, inclusive on `createdAt`); choose the bucket size with `granularity` (day/week/month).",
        "operationId": "routerPaymentsSummary",
        "parameters": [
          {
            "name": "from",
            "required": false,
            "in": "query",
            "description": "ISO-8601 lower bound on createdAt (inclusive).",
            "schema": {
              "example": "2026-07-01T00:00:00Z",
              "type": "string"
            }
          },
          {
            "name": "to",
            "required": false,
            "in": "query",
            "description": "ISO-8601 upper bound on createdAt (inclusive).",
            "schema": {
              "example": "2026-07-31T23:59:59Z",
              "type": "string"
            }
          },
          {
            "name": "granularity",
            "required": false,
            "in": "query",
            "description": "Bucket size. Defaults to day.",
            "schema": {
              "enum": [
                "day",
                "week",
                "month"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Total + time-series.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsSummaryDto"
                }
              }
            }
          },
          "400": {
            "description": "`from`/`to` are not valid ISO-8601 timestamps (BCK.ROUTER.0001).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          },
          "401": {
            "description": "Missing/invalid Nevermined API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RouterErrorResponseDto"
                }
              }
            }
          }
        },
        "summary": "Aggregate count + time-series of the buyer’s payment requests",
        "tags": [
          "Router"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "statusCode": {
            "type": "integer"
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "RegisterAgentRequest": {
        "type": "object",
        "required": [
          "name",
          "endpoints",
          "agentDefinitionUrl"
        ],
        "properties": {
          "name": {
            "type": "string",
            "description": "Agent display name"
          },
          "description": {
            "type": "string",
            "description": "Agent description"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Searchable tags"
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "API endpoints (HTTP verb and URL)"
          },
          "agentDefinitionUrl": {
            "type": "string",
            "description": "URL to OpenAPI spec, MCP Manifest, or A2A agent card"
          }
        }
      },
      "UpdateAgentRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "AgentCreatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "agentId": {
            "type": "string",
            "description": "The agent's unique identifier (DID)"
          }
        }
      },
      "AgentAndPlanCreatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "agentId": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          }
        }
      },
      "RegisterAgentAndPlanRequest": {
        "type": "object",
        "required": [
          "agentMetadata",
          "agentApi",
          "planMetadata",
          "priceConfig",
          "creditsConfig"
        ],
        "properties": {
          "agentMetadata": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "tags": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "agentApi": {
            "type": "object",
            "properties": {
              "endpoints": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "agentDefinitionUrl": {
                "type": "string"
              }
            }
          },
          "planMetadata": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              }
            }
          },
          "priceConfig": {
            "$ref": "#/components/schemas/PriceConfig"
          },
          "creditsConfig": {
            "$ref": "#/components/schemas/CreditsConfig"
          },
          "accessLimit": {
            "type": "string",
            "enum": [
              "credits",
              "time"
            ]
          }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "agentId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "endpoints": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "agentDefinitionUrl": {
            "type": "string"
          },
          "plans": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "planId": {
                  "type": "string"
                },
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "isListed": {
            "type": "boolean"
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "PaginatedAgents": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "RegisterPlanRequest": {
        "type": "object",
        "required": [
          "name",
          "priceConfig",
          "creditsConfig"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priceConfig": {
            "$ref": "#/components/schemas/PriceConfig"
          },
          "creditsConfig": {
            "$ref": "#/components/schemas/CreditsConfig"
          }
        }
      },
      "UpdatePlanRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "PlanCreatedResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "planId": {
            "type": "string"
          }
        }
      },
      "Plan": {
        "type": "object",
        "properties": {
          "planId": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "priceConfig": {
            "$ref": "#/components/schemas/PriceConfig"
          },
          "creditsConfig": {
            "$ref": "#/components/schemas/CreditsConfig"
          },
          "isListed": {
            "type": "boolean"
          },
          "owner": {
            "type": "string"
          }
        }
      },
      "PaginatedPlans": {
        "type": "object",
        "properties": {
          "plans": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Plan"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          }
        }
      },
      "PriceConfig": {
        "type": "object",
        "properties": {
          "priceType": {
            "type": "string",
            "enum": [
              "FIXED_PRICE",
              "FREE"
            ]
          },
          "tokenAddress": {
            "type": "string",
            "description": "ERC20 token address (e.g., USDC)"
          },
          "amounts": {
            "type": "array",
            "items": {
              "type": "integer"
            },
            "description": "Price amounts (6 decimals for USDC)"
          },
          "receivers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Wallet addresses to receive payment"
          }
        }
      },
      "CreditsConfig": {
        "type": "object",
        "properties": {
          "creditsType": {
            "type": "string",
            "enum": [
              "FIXED",
              "EXPIRABLE"
            ]
          },
          "amount": {
            "type": "integer",
            "description": "Number of credits"
          },
          "minAmount": {
            "type": "integer",
            "description": "Minimum credits per request"
          },
          "durationOfThePlan": {
            "type": "integer",
            "description": "Duration in seconds (for EXPIRABLE)"
          }
        }
      },
      "OrderPlanResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "txHash": {
            "type": "string"
          },
          "balance": {
            "$ref": "#/components/schemas/Balance"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "isSubscriber": {
            "type": "boolean"
          },
          "total": {
            "type": "integer"
          },
          "used": {
            "type": "integer"
          },
          "remaining": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AccessTokenResponse": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "neverminedProxyUri": {
            "type": "string"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "InitializeAgentRequest": {
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "requestData": {
            "type": "object"
          }
        }
      },
      "InitializeAgentResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "isValid": {
            "type": "boolean"
          },
          "balance": {
            "$ref": "#/components/schemas/Balance"
          }
        }
      },
      "TrackSubTaskRequest": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "taskName": {
            "type": "string"
          },
          "creditsUsed": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "MintCreditsRequest": {
        "type": "object",
        "required": [
          "planId",
          "holderAddress",
          "amount"
        ],
        "properties": {
          "planId": {
            "type": "string"
          },
          "holderAddress": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          }
        }
      },
      "MintExpirableCreditsRequest": {
        "type": "object",
        "required": [
          "planId",
          "holderAddress",
          "amount",
          "expirationBlock"
        ],
        "properties": {
          "planId": {
            "type": "string"
          },
          "holderAddress": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "expirationBlock": {
            "type": "integer"
          }
        }
      },
      "MintCreditsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "txHash": {
            "type": "string"
          }
        }
      },
      "RedeemCreditsRequest": {
        "type": "object",
        "required": [
          "planId",
          "holderAddress",
          "amount",
          "proof"
        ],
        "properties": {
          "planId": {
            "type": "string"
          },
          "holderAddress": {
            "type": "string"
          },
          "amount": {
            "type": "integer"
          },
          "proof": {
            "type": "string"
          }
        }
      },
      "RedeemCreditsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "creditsRedeemed": {
            "type": "integer"
          },
          "remainingBalance": {
            "type": "integer"
          }
        }
      },
      "CreatePermissionRequest": {
        "type": "object",
        "required": [
          "planId",
          "maxCredits"
        ],
        "properties": {
          "planId": {
            "type": "string"
          },
          "maxCredits": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "allowedAgents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "metadata": {
            "type": "object"
          }
        }
      },
      "PermissionCreatedResponse": {
        "type": "object",
        "properties": {
          "permissionHash": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "maxCredits": {
            "type": "integer"
          },
          "usedCredits": {
            "type": "integer"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "permissionHash": {
            "type": "string"
          },
          "planId": {
            "type": "string"
          },
          "ownerAddress": {
            "type": "string"
          },
          "maxCredits": {
            "type": "integer"
          },
          "usedCredits": {
            "type": "integer"
          },
          "remainingCredits": {
            "type": "integer"
          },
          "allowedAgents": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "type": "string"
          },
          "metadata": {
            "type": "object"
          },
          "transactions": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaginatedPermissions": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          },
          "totalCount": {
            "type": "integer"
          },
          "page": {
            "type": "integer"
          }
        }
      },
      "RevokePermissionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "permissionHash": {
            "type": "string"
          },
          "status": {
            "type": "string"
          }
        }
      },
      "VerifyPermissionRequest": {
        "type": "object",
        "required": [
          "accessToken",
          "agentId",
          "creditsRequested"
        ],
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "agentId": {
            "type": "string"
          },
          "creditsRequested": {
            "type": "integer"
          }
        }
      },
      "VerifyPermissionResponse": {
        "type": "object",
        "properties": {
          "valid": {
            "type": "boolean"
          },
          "permissionHash": {
            "type": "string"
          },
          "remainingCredits": {
            "type": "integer"
          },
          "buyerAddress": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "SettlePermissionRequest": {
        "type": "object",
        "required": [
          "accessToken",
          "agentId",
          "creditsUsed"
        ],
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "agentId": {
            "type": "string"
          },
          "creditsUsed": {
            "type": "integer"
          },
          "requestMetadata": {
            "type": "object"
          }
        }
      },
      "SettlePermissionResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "permissionHash": {
            "type": "string"
          },
          "creditsSettled": {
            "type": "integer"
          },
          "remainingCredits": {
            "type": "integer"
          },
          "txHash": {
            "type": "string"
          }
        }
      },
      "DelegationDetailsDto": {
        "type": "object",
        "properties": {
          "delegationId": {
            "type": "string",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "provider": {
            "type": "string",
            "example": "stripe"
          },
          "providerPaymentMethodId": {
            "type": "string",
            "example": "pm_1Abc2Def3Ghi4Jkl"
          },
          "status": {
            "type": "string",
            "example": "Active",
            "enum": [
              "Active",
              "Revoked",
              "Expired",
              "Exhausted"
            ]
          },
          "spendingLimitCents": {
            "type": "string",
            "example": "10000"
          },
          "amountSpentCents": {
            "type": "string",
            "example": "2500"
          },
          "remainingBudgetCents": {
            "type": "string",
            "example": "7500"
          },
          "currency": {
            "type": "string",
            "example": "usd"
          },
          "transactionCount": {
            "type": "number",
            "example": 12
          },
          "expiresAt": {
            "format": "date-time",
            "type": "string",
            "example": "2026-02-20T00:00:00Z"
          },
          "createdAt": {
            "format": "date-time",
            "type": "string",
            "example": "2026-02-13T10:30:00Z"
          },
          "apiKeyId": {
            "type": "string",
            "example": "sk-abc123",
            "nullable": true,
            "description": "NVM API Key ID restricted to this delegation. Null = any key can use it."
          },
          "planId": {
            "type": "string",
            "example": "123456789",
            "nullable": true
          },
          "merchantAccountId": {
            "type": "string",
            "example": "acct_1Abc2Def3Ghi",
            "nullable": true
          },
          "maxTransactions": {
            "type": "integer",
            "example": 50,
            "nullable": true
          },
          "lastUsedAt": {
            "type": "string",
            "example": "2026-02-13T14:00:00Z",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "delegationId",
          "provider",
          "providerPaymentMethodId",
          "status",
          "spendingLimitCents",
          "amountSpentCents",
          "remainingBudgetCents",
          "currency",
          "transactionCount",
          "expiresAt",
          "createdAt",
          "planId",
          "merchantAccountId",
          "maxTransactions",
          "lastUsedAt"
        ]
      },
      "DelegationTransactionListDto": {
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "transactions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DelegationTransactionDto"
            }
          }
        },
        "required": [
          "totalResults",
          "page",
          "offset",
          "transactions"
        ]
      },
      "_NvmAPIResultDto": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true,
            "description": "Indicates whether the API call was successful"
          },
          "message": {
            "type": "string",
            "example": "Successfully minted",
            "description": "Message describing the result of the API call"
          },
          "txHash": {
            "type": "string",
            "example": "0x923812b3c4d5e6f7890abcdef1234567890abcdef1234567890abcdef12345678",
            "description": "Blockchain transaction hash associated with the API call"
          },
          "httpStatus": {
            "type": "number",
            "example": 200,
            "description": "HTTP status code of the API response"
          },
          "data": {
            "type": "object",
            "description": "Additional parameters related to the API call",
            "additionalProperties": true
          },
          "when": {
            "format": "date-time",
            "type": "string",
            "description": "Timestamp when the API call was made"
          }
        },
        "required": [
          "success",
          "message",
          "txHash",
          "httpStatus",
          "data",
          "when"
        ]
      },
      "CreateDelegationResponseDto": {
        "type": "object",
        "properties": {
          "delegationId": {
            "type": "string",
            "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
          },
          "delegationToken": {
            "type": "string",
            "example": "eyJhbGciOiJIUzI1NiIsInR...",
            "nullable": true,
            "description": "Signed JWT for fiat-backed delegations (stripe/braintree). Omitted for crypto (erc4337) flows where the signed delegation is held client-side."
          }
        },
        "required": [
          "delegationId"
        ]
      },
      "PaymentMethodSummaryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "pm_1Abc2Def3Ghi4Jkl"
          },
          "type": {
            "type": "string",
            "example": "card"
          },
          "last4": {
            "type": "string",
            "example": "4242"
          },
          "brand": {
            "type": "string",
            "example": "visa"
          },
          "expMonth": {
            "type": "integer",
            "example": 12,
            "nullable": true
          },
          "expYear": {
            "type": "integer",
            "example": 2027,
            "nullable": true
          },
          "alias": {
            "type": "string",
            "example": "My Card",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "example": "stripe",
            "enum": [
              "stripe",
              "braintree",
              "erc4337",
              "visa",
              "vgs"
            ]
          },
          "status": {
            "type": "string",
            "example": "Active",
            "enum": [
              "Active",
              "Revoked"
            ]
          },
          "allowedApiKeyIds": {
            "type": "array",
            "example": [
              "sk-abc123",
              "sk-def456"
            ],
            "nullable": true,
            "description": "NVM API Key IDs allowed to use this card. Null = any key can use it.",
            "items": {
              "type": "string"
            }
          },
          "orgId": {
            "type": "string",
            "description": "Organization this card belongs to (null = personal).",
            "nullable": true
          }
        },
        "required": [
          "id",
          "type",
          "last4",
          "brand",
          "expMonth",
          "expYear",
          "alias",
          "provider",
          "status"
        ]
      },
      "DelegationTransactionDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "tx-uuid"
          },
          "delegationId": {
            "type": "string",
            "example": "delegation-uuid"
          },
          "providerTransactionId": {
            "type": "string",
            "example": "pi_1Abc2Def3Ghi4Jkl"
          },
          "amountCents": {
            "type": "string",
            "example": "1000"
          },
          "currency": {
            "type": "string",
            "example": "usd"
          },
          "status": {
            "type": "string",
            "example": "succeeded"
          },
          "failureReason": {
            "type": "string",
            "example": null,
            "nullable": true
          },
          "createdAt": {
            "format": "date-time",
            "type": "string",
            "example": "2026-02-13T14:00:00Z"
          }
        },
        "required": [
          "id",
          "delegationId",
          "providerTransactionId",
          "amountCents",
          "currency",
          "status",
          "failureReason",
          "createdAt"
        ]
      },
      "DelegationListDto": {
        "type": "object",
        "properties": {
          "totalResults": {
            "type": "number"
          },
          "page": {
            "type": "number"
          },
          "offset": {
            "type": "number"
          },
          "delegations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DelegationSummaryDto"
            }
          }
        },
        "required": [
          "totalResults",
          "page",
          "offset",
          "delegations"
        ]
      },
      "CreateDelegationDto": {
        "type": "object",
        "properties": {
          "provider": {
            "type": "string",
            "description": "Payment provider type. `stripe` / `braintree` / `visa` / `erc4337` select that rail directly. `vgs` (epic #1958) is a unified VGS-Collect card: a PLAN-AGNOSTIC, portable delegation whose settlement PSP (`stripe` / `braintree`) is resolved AT CHARGE TIME from the plan being paid (`fiatPaymentProvider`), so ONE card can charge ANY PSP (#2082). `delegation.provider` is persisted as the portable `vgs` marker (the concrete charge never sees it — the handler derives the real PSP at settle). Requires a portable `providerPaymentMethodId` (the `CRD…` cardId, which must carry an active network token); `planId` is OPTIONAL — pass it only to BIND the delegation to a single plan.",
            "example": "stripe",
            "enum": [
              "stripe",
              "erc4337",
              "braintree",
              "visa",
              "vgs"
            ]
          },
          "providerPaymentMethodId": {
            "type": "string",
            "description": "Payment-method identifier from the provider. For stripe / braintree this is the saved card; for visa this is the VGS agentic-token id returned by enrollment; for vgs this is the `CRD…` canonical cardId from the unified VGS-Collect enroll. Required for these providers; ignored for erc4337.",
            "example": "pm_1Abc2Def3Ghi4Jkl"
          },
          "consumerPrompt": {
            "type": "string",
            "description": "Visa-only: human-readable approval prompt shown to the user during VGS Agentic Auth device binding. Required when provider=visa.",
            "example": "Allow up to USD 50.00 over 5 transactions"
          },
          "assuranceData": {
            "type": "object",
            "description": "Visa-only: opaque assurance payload from the VGS Agentic Auth browser SDK after FIDO/OTP device binding. Required when provider=visa."
          },
          "spendingLimitCents": {
            "type": "number",
            "description": "Maximum spending limit in cents (smallest currency unit)",
            "example": 10000
          },
          "durationSecs": {
            "type": "number",
            "description": "Duration of the delegation in seconds",
            "example": 604800
          },
          "currency": {
            "type": "string",
            "description": "Currency code (lowercase)",
            "example": "usd",
            "enum": [
              "usd",
              "eur",
              "usdc",
              "eurc"
            ]
          },
          "planId": {
            "type": "string",
            "description": "Plan ID to restrict this delegation to. Optional and plan-agnostic by default (#1534), INCLUDING provider=vgs (#2082): a unified VGS card delegation is plan-agnostic and the settlement PSP is resolved at charge time from the plan being paid, so one card can charge any PSP — pass planId only to BIND it to a single plan. EXCEPT provider=visa (the VGS mandate is merchant-scoped, derived from the plan owner; see BCK.VISA.0015), where it is REQUIRED.",
            "example": "123456789"
          },
          "merchantAccountId": {
[...]
